@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-h: 72px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-padding-top: var(--header-h);
}

@media (min-width: 1024px) {
  :root {
    --header-h: 80px;
  }
}